/******************************************/
/* Universal Selector */
/******************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/******************************************/
/* Element Selectors */
/******************************************/
nav {
  display: flex;
  background-color: gray;
  height: 75px;
  justify-content: space-between;
  /* align-items: center; */
}

main {
  display: flex;
  /* height: 75px; */
  align-items: center;
  flex-direction: column;
}

aside {
  padding: 10px;
  text-align: center;
}

section {
  padding: 10px;
  text-align: center;
}

/******************************************/
/* Class Selectors */
/******************************************/



/******************************************/
/* ID Selectors */
/******************************************/
#person {
  color: whitesmoke;
  /* flex: 1 0 auto; */
  font-size: 45px;
  font-weight: bold;
  background-color: darkslategrey;
  padding: 10px 20px;
  text-align: left;
}


#nav-container {
  /* flex: 1 0 auto; */
  display: flex;
  align-items: center;
  /* align-content: flex-end; */
  /* flex-direction: row; */ 
  /* margin-left: 200px; */
  /* margin-right: 20px; */
}

/* TODO Question: How do I make these more consistently sized so I could convert to a button? */
#nav-container a {
  width: 100px;
  color: white;
  /* flex: 1 0 80px;
  padding: 14px 0px; */
  text-align: center;
  text-decoration: none;
}

/* TODO Question: Is this the correct approach? */
#subtitle {
  position: relative;
  text-align: end;
  top: 175px;
  right: 100px;
  font-style: italic;
  font-weight: bold;
  font-size: 45px;
  color: darkslategrey
}

#hero {
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
  background-image: url("../images/integrated-cloud-header.png");
  background-size: cover;
  background-position: center;
}

/* TODO Question: is this a good approach to design CSS? */
main #section {
  display: flex;
}

#about-me {
  flex: 1;
  color: gray;
  height: 150px;
  border-right: 3px solid gray
}

#about-me-detail {
  flex: 3;
  color: gray;
  height: 150px;
  text-align: left;
  padding-left: 20px;
}

/******************************************/
/* Media queries */
/******************************************/

/* Dynamic viewport for mobile ready  */
@media screen and (max-width: 768px) {
  nav { 
    flex-direction: column;
    justify-content: flex-start;
  }

  #person {
    width: 100%;
    text-align: center;
  }

  #hero {
    margin-top: 75px;
  }

  #nav-container {
    /* margin-left: auto; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 200px;
    background-color: gray;
  }

  #nav-container a {
    color: white;
  }

  #subtitle {
    margin: 0 auto;
    text-align: center;
    right: auto;
  }
