/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
  color: whitesmoke;
  display: flex;
  background-color: gray;
  justify-content: right;
  padding: 30px;
}

nav li {
  list-style-type: none;
  display: inline;
  margin: 10px;
}

.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
  background-image: url("../images/integrated-cloud-header.png");
  background-size: cover;
  background-position: center;
}

/* Element Selectors */
/* header { */
  /* Turns this element into a flexbox */
  /* display: flex; */
  /* Forces elements to the next line if they don't fit */
  /* flex-wrap: wrap; */
  /* margin-top: 0%; */
  /* padding: 0px; */
/* } */
