/* TODO organize properties by their type
example: basic styling versus flex styling */

/* TODO move the tiles so that on a small form factor they stack */

/******************************************/
/* Universal Selector */
/******************************************/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/******************************************/
/* Element Selectors */
/******************************************/
nav {
  height: 4.5em;
  background-color: gray;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 18em;
  width: 100%;
  background-image: url("../images/integrated-cloud-header.png");
  background-size: cover;
  background-position: center;
  filter: grayscale(60%)
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  display: flex;
  color: gray;
  background-color: whitesmoke;
  width: 100%;
}

main section aside {
  flex: 1;
  border-right: 3px solid gray;
  color: darkslategray;
  text-align: right;
  margin: 1em 0em;
  padding: 1em;
}

main section div {
  flex: 3;
  text-align: left;
  margin: 1em;
  padding: 1em;
}

a {
  text-decoration: none;
}

/******************************************/
/* Class Selectors */
/******************************************/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* TODO Question - I have fully qualified the class. As such, why is it necessary to put the Display: Block on? */
.portfolio-spotlight {
  /* display: block; */
  width: 100%;
  text-align: center;
  border: 3px solid gray;
  margin: .4em 0em;
}

.portfolio-spotlight div {
  position: relative;
  top: 11em;
  width: 13em;
  margin-left: 0em;
  padding: .5em;
  color: whitesmoke;
  background-color: gray;
}

/* TODO Question - I have fully qualified the class. As such, why is it necessary to put the Display: Block on? */
.portfolio-other {
  /* display: block; */
  width: 49%;
  text-align: center;
  border: 3px solid gray;
  margin: .4em 0em;
}

.portfolio-other div {
  position: relative;
  top: 2em;
  width: 12em;
  margin-left: 0em;
  padding: .5em;
  color: whitesmoke;
  background-color: gray;

}

.format-works h1 {
  font-size: 16px;
}

.format-works h2 {
  font-size: 14px;
  font-weight: normal;
}

/******************************************/
/* ID Selectors */
/******************************************/
#person {
  font-size: 2.8em;
  font-weight: bold;
  background-color: darkslategrey;
  padding: 10px 40px 10px 40px;
  text-align: left;
  align-items: center;
  white-space: nowrap;
}

#nav-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#nav-container a {
  width: 95px;
  margin: 2px;
  padding: 2px;
  border: 2px white solid;
  border-radius: 30px;
  background-color: darkslategray;
  box-shadow: 3px 5px 5px darkslategray;
  color: white;
  text-decoration: none;
  text-align: center;
}

#subtitle {
  position: relative;
  text-align: end;
  top: 4em;
  right: 1em;
  font-weight: bold;
  font-size: 2.8em;
  color: darkslategrey
}

/* Each tile gets an image */
/* TODO - remove DRY tags in the following IDs */
#box1-image {
  height: 18em;
  background-image: url("../images/weather.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  /* opacity: 0.5; */
}

#box2-image {
  height: 9em;
  background-image: url("../images/confident-travel.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
}

#box3-image {
  height: 9em;
  background-image: url("../images/balanced-hierarchy.png");
  background-size: auto;
  background-position: center;
}

#box4-image {
  height: 9em;
  background-image: url("../images/anaplan-integration.png");
  background-size: auto;
  background-position: center;
  filter: grayscale(60%);
}

#box5-image {
  height: 9em;
  background-image: url("../images/managed-integration-services.png");
  background-size: auto;
  background-position: center;
}


div #contact-container {
  margin: 0em;
}

#contact-container {
  justify-content: center;
}

#contact-container a {
  width: 120px;
  margin: 2px;
  padding: 2px;
  border: 2px white solid;
  border-radius: 30px;
  background-color: darkslategray;
  box-shadow: 3px 5px 5px darkslategray;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 80%;
}

#contact-container p {
  width: 120px;
  margin: 2px;
  padding: 2px;
  border: 2px white solid;
  border-radius: 30px;
  background-color: darkslategray;
  box-shadow: 3px 5px 5px darkslategray;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 80%;
}

/******************************************/
/* Media queries */
/******************************************/

/* Dynamic viewport for mobile ready  */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    height: 16em;
  }

  main section {
    flex-direction: column;
  }

  main section aside {
    border-right: 0px;
    border-bottom: 3px solid gray;
    text-align: center;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-spotlight {
    width: 100%;
  }

  /* With a space between selectors, indicates the selector "section" AND the class ".portfolio-other" is a descendant of the previous selector. Therefore and AND situation occurs. */
  section .portfolio-other {
    width: 100%;
    background-color: red;
    border-color: red;
  }

  /* If the space is removed between selectors then this indicates an element that is both a "section" and has the class of ".portfolio-other"  */
  /* section.portfolio-other {
    width: 100%;
    background-color: red;
    border-color: red;
  } */

  /* With a comma between selectors, this indicates an OR situation  */
  /* section, .portfolio-other {
    width: 100%;
    background-color: red;
    border-color: red;
  } */

  /* With a ">" indicates a direct child of the previous selector  */
  /* div > .portfolio-other {
      width: 100%;
      background-color: red;
      border-color: red;
    } */

  /* With a "+" indicates a direct sibling of the previous selector  */
  /* a + .portfolio-other {
      width: 100%;
      background-color: red;
      border-color: red;
    } */


  .portfolio-spotlight div {
    top: 2em;
  }

  #person {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
  }

  #nav-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  #subtitle {
    margin: 0 auto;
    text-align: center;
    right: auto;
    top: 3em;
  }

  #box1-image {
    height: 9em;
  }

  #outer-contact-container {
    margin: 0;
    padding: 0;
  }

  #contact-container {
    align-items: center;
    justify-content: space-between;
  }

  #contact-container a {
    margin: .5em;
    width: 160px;
  }

  #contact-container p {
    margin: .5em;
    width: 160px;
  }

  section>div {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
}